<div class="d-flex justify-content-center">
    <pre style="line-height: 1.25; white-space: pre;">
            \          Désolé           /
             \                         /
              \      Cette page       /
               ]    n'existe pas.    [    ,'|
               ]                     [   /  |
               ]___               ___[ ,'   |
               ]  ]\             /[  [ |:   |
               ]  ] \           / [  [ |:   |
               ]  ]  ]         [  [  [ |:   |
               ]  ]  ]__     __[  [  [ |:   |
               ]  ]  ] ]\ _ /[ [  [  [ |:   |
               ]  ]  ] ] (#) [ [  [  [ :===='
               ]  ]  ]_].nHn.[_[  [  [
               ]  ]  ]  HHHHH. [  [  [
               ]  ] /   `HH("N  \ [  [
               ]__]/     HHH  "  \[__[
               ]         NNN         [
               ]         N/"         [
               ]         N H         [
              /          N            \
             /           q,            \
            /                           \
    </pre>
</div>