@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <img class="navbar-brand img-fluid ms-5" title="Accueil SensoStat" alt="SensoStat" href="#" src="~/images/logo.png">
    <div class="container-fluid">
        <button class="navbar-toggler ms-auto me-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ms-auto me-0 mb-2 mb-lg-0">
                <li class="nav-item ms-auto me-0">
                    <a class="nav-link" aria-current="page" asp-area="" asp-controller="user" asp-action="index">
                        <i class="fas fa-users me-1"></i>
                        <span>Créer un compte</span>
                    </a>
                </li>
                <li class="nav-item dropdown ms-auto me-0">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-tools"></i>
                        <span>Administration</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" asp-controller="session" asp-action="index"><i class="fas fa-tasks me-1"></i></i>Séances</a></li>
                        <li><a class="dropdown-item" asp-controller="session" asp-action="archive"><i class="fas fa-archive me-1"></i></i>Archive</a></li>
                        <li><a class="dropdown-item" asp-controller="session" asp-action="export"><i class="fas fa-download me-1"></i></i>Exporter</a></li>
                    </ul>
                </li>
                <li class="nav-item ms-auto me-0">
                    <a class="nav-link" asp-area="" asp-controller="" asp-action="">
                        <i class="far fa-user-circle fa-2x"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>