@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model SensoStat.WebApplication.ViewModels.AuthentificationViewModel
}

<div class="p-5">
    <div class="row">
        <form class="col-6 offset-3" method="post" asp-controller="user" asp-action="authenticate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="@Model.Email" class="form-label">Identifiant</label>
                <input asp-for="@Model.Email" name="model.Email" aria-describedby="userAuth" type="text" class="form-control rounded" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Password" class="form-label">Mot de passe</label>
                <input asp-for="@Model.Password" name="model.Password" aria-describedby="userCreate" type="password" class="form-control rounded" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-warning">Se connecter</button>
        </form>
    </div>

</div>

@section Scripts {@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}}