@model SensoStat.WebApplication.ViewModels.InstructionItemViewModel

<div class="row">
    <div class="form-group">
        <label asp-for="Libelle" class="control-label"></label>
        <input asp-for="Libelle" class="form-control" /> 
    </div>
</div>
